/*------------------------------------------------------------------------------
* Web Fonts
*-----------------------------------------------------------------------------*/
@font-face
{
	font-family: "Overwatch";
	src: url(../font/koverwatch.ttf) format("truetype");
}
@font-face
{
	font-family: "iOverwatch";
	src: url(../font/bignoodletoo.ttf) format("truetype");
}

/*------------------------------------------------------------------------------
* Common
*-----------------------------------------------------------------------------*/
*
{
	font-family: "Overwatch";
}

html,
body
{
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/*------------------------------------------------------------------------------
* Board
*-----------------------------------------------------------------------------*/
.Board
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.Board > .Logo
{
	height: 30vh;
	max-width: 100%;
}

.Board > .Logo > img
{
	height: 100%;
}

.Board > .Name
{
	font-size: 8vh;
}

.Board > .Result
{
	font-size: 20vh;
	transform: scaleX(1.5);
}

/*------------------------------------------------------------------------------
* Wins
*-----------------------------------------------------------------------------*/
#Wins
{
	/* display: none; */
	background: red;
}

/*------------------------------------------------------------------------------
* Loses
*-----------------------------------------------------------------------------*/
#Loses
{
	background: blue;
}